{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <section class="article">
        <div class="container">
            <div class="article__text">
                {% if post %}
                    <div class="article__top">
                        <p class="article__name">{{ post.user }}</p>
                        <p class="article__publication">{{ post.pub_date }}</p>
                    </div>
                    <h1 class="article__title">{{ post.title }}</h1>
                    <picture class="article__img img">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="">
                        {% else %}
                            <img src="https://image.freepik.com/free-vector/news-concept-landing-page_52683-20167.jpg" alt="">
                        {% endif %}
                    </picture>
                    <p>{{ post.content|safe }}</p>
                    <p class="article__views">Views: {{ post.views }}</p>
                    <div class="article__tags">
                        {% for tag in post.tags.all %}
                            <a class="tag" href="{% url 'posts-tagged' tag.slug %}">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Article not found &#128543</p>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="comments">
        <div class="container">
            <div class="comments__wrapper">
                <h2 class="title">Comments</h2>
                <div class="comments__form">
                     <form method="post">
                        {% csrf_token %}
                        {{ form }}
                         {% if user.is_authenticated %}
                            <button class="submit" type="submit">Comment</button>
                         {% else %}
                             <a class="login_link" href="{% url 'login' %}"><p class="login">Login to comment</p></a>
                         {% endif %}
                    </form>
                </div>
                <div class="comments__block">
                    {% for comment in comments %}
                        <div class="comments__item">
                            <p class="comments__name">{{ comment.user }}
                                {% if comment.was_published_recently %}
                                    <span class="comments__date"> today at - {{ comment.pub_date.time }}</span>
                                {% else %}
                                    <span class="comments__date"> - {{ comment.pub_date.date }} at {{ comment.pub_date.time }}</span>
                                {% endif %}
                            </p>
                            <p class="comments__content">{{ comment.content }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}