<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__block">
                <h2 class="footer__title">About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="footer__block">
                <h2 class="footer__title">Contact</h2>
                <p><strong>Address:</strong> Lorem ipsum dolor</p>
                <p>
                    <strong>Tel:</strong>
                    <a href="tel:0000000000"> 000 000 00 00</a>
                </p>
                <p>
                    <strong>Email:</strong>
                    <a href="mailto:mail.com"> email.com</a>
                </p>
            </div>
            <div class="footer__block">
                <h2 class="footer__title">Share</h2>
                <ul class="footer__share">
                    <li>
                        <a href="#">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                     <li>
                        <a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                     <li>
                        <a href="#">
                            <span class="fab fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="footer__copyright">© 2020 Путевые заметки</p>
    </div>
</footer>