.banner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 475px;
    padding-top: 150px;
    position: relative;
}

.banner::before {
    background: rgba(0, 0, 0, 0.2);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.banner__title {
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    position: relative;
    text-align: center;
    text-shadow: 4px 1px 5px #000;
}
